/*El main.scss hace referencia al estilo de la pagina*/
/*Programación lineal, es decir se lee línea por línea*/

* {
    margin: 0; //Margen hacia adentro
    padding: 0; //Margen alrededor, hacia afuera
}

//Inicio de Hamburger Icon
.menu-container {
    display: flex;
    justify-content: center;
    padding: 0px 15px; 
    //padding: 0px 0px 0px 15px; arriba - izquierda - derecha - abajo
    align-items: center;
    background: darkcyan;
    height: 40px;
    .menu-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; //Deja la misma cantidad de espacios alrededor de cada opcion del 
        //menu que estamos tratando, tambien puede usar "space between"
        a {
            text-decoration: none;
            font-size: 20px;
            color: rgb(210, 216, 223);
            font-family: sans-serif;
        }
    } 
}  
.sub-menu-container {
    display: flex;
    justify-content: center;
    padding: 0px 15px; 
    align-items: center; //Alineamiento de arriba y abajo
    background: greenyellow;
    height: 40px;
    .sub-menu-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        a {
            text-decoration: none;
            font-size: 17px;
            color: rgb(9, 37, 68);
            font-family: sans-serif;
        }
    }   
//Final de Hamburger Icon
}

//Inicio de Accordion
.main-accordion-container{
    width: 100%;
    border-bottom: 2px solid black;
    .accordion-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70px;
        border-top: 1px solid black;
        .accordion-title {
            background-image: url("/img/imagen1.png");
            width: 100%;
            height: 100%;
            background: lightskyblue;
            color: gray;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //padding: 0 0 10px 0;
            text-align: center;
            p {
                width: 40%;
                border: 3px solid white;
                border-radius: 5px;
                padding: 5px;
                background-color: aquamarine;
            }
        }
        .accordion-desc {
            width: 100%;
            border-top: 2px solid blue;
            display: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            height: auto;
        }
        &.tab-active{
            .accordion-desc {
                //width: 100%;
                //border-top: 2px solid blue;
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                background-color: rgba(250, 128, 114, 0.596);
                padding: 15px 10px 15px 10px;
                p {
                    text-align: justify;
                    font-size: 15px;
                }
            }
        }

    }
}

//Final de Accordion

//Con este comando se declara que a X número de pixeles tienen que 
//realizarse cambios visuales, el web responsive
@media (max-width: 991px) {
    //Inicio de Hamburger Icon
    .menu-container {
        justify-content: flex-end;
        position: relative;
        .menu-list{
            display: none;
        }
        .hamburger-icon {
            width: 35px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            span {//span significa "barrita", no hay que hacerle nada, ni referenciarlo
                width: 100%;
                height: 4px;
                background: whitesmoke;
                display: block;
                border-radius: 2px
            }
        }
    }
    .menu-container.menu-open { //Para hacer el toggle de un menu al otro
        .menu-list{
            display: flex;
            z-index: 2; //Se refiere al orden en "Z" en la pagina se lee de atras 
            //para adelante, que me muestre por encima de cada capa, posición default = 0
            width: 150px;
            height: auto;
            border: 1px solid black;
            margin: 140px 10px 0 0;
            flex-direction: column;
            //justify-content: space-between;
            align-content: left;
            text-align: center;
            background-color: dimgray;
            border-radius: 15px;
            a {
                //padding-top: 5px;
                //padding-bottom: 5px;
                color: rgb(0, 0, 0);
                font-size: 20px;
                font-family: sans-serif;
            }
        }
    }
    .sub-menu-container {
        justify-content: flex-start; //Lo muestra a la izquierda, flex-end a la derecha
        position: relative;
        height: 40px;
        .sub-hamburger-icon {
            width: 35px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            span {//span significa "barrita", no hay que hacerle nada, ni referenciarlo
                width: 100%;
                height: 4px;
                background: black;
                display: block;
                border-radius: 2px
            }  
        }          
        .sub-menu-list{
            display: none;    
        }
    }
    .sub-menu-container.sub-menu-open { //Para hacer el toggle de un menu al otro
        .sub-menu-list{
            display: flex;
            z-index: 1; //Se refiere al orden en "Z"
            width: auto;
            height: auto;
            background-color: rgb(207, 201, 201);
            flex-direction: column;
            border: 1px solid black;
            margin: 140px 0 0 10px; //arriba derecha abajo izquierda
            border-radius: 15px;
            text-align: center;                        
            a {
                padding: 5px;
                color: rgb(0, 0, 0);
                font-size: 15px;
                font-family: sans-serif;
            }
        }
    }
    //Final de Hamburger Icon
}    



